<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.gurella.studio.editor"
         name="Gurella Editors"
         point="org.eclipse.ui.editors">
      <editor
            class="com.gurella.studio.editor.SceneEditor"
            contributorClass="com.gurella.studio.editor.SceneEditorActionBarContributor"
            default="true"
            extensions="gscn"
            icon="icons/logo16.png"
            id="com.gurella.studio.editor.sceneEditor"
            name="Gurella scene editor">
      </editor>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.renameParticipant"
         name="Gurella rename participants"
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.gurella.studio.refractoring.RenameAssetParticipant"
            id="com.gurella.studio.refractoring.renameParticipant.renameAssetParticipant"
            name="Gurella asset rename participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="com.gurella.studio.refractoring.RenameJavaElementParticipant"
            id="com.gurella.studio.refractoring.renameParticipant.renameJavaElementParticipant"
            name="Gurella java element rename participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.moveParticipant"
         name="Gurella move participants"
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.gurella.studio.refractoring.MoveAssetsParticipant"
            id="com.gurella.studio.refractoring.moveParticipant.moveAssetsParticipant"
            name="Gurella assets move participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
            </with></enablement>
      </moveParticipant>
      <moveParticipant
            class="com.gurella.studio.refractoring.MoveJavaElementParticipant"
            id="com.gurella.studio.refractoring.moveParticipant.moveJavaElementParticipant"
            name="Gurella java element move participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </or>
            </with></enablement>
      </moveParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.copyParticipant"
         name="Gurella copy participants"
         point="org.eclipse.ltk.core.refactoring.copyParticipants">
      <copyParticipant
            class="com.gurella.studio.refractoring.CopyAssetsParticipant"
            id="com.gurella.studio.refractoring.copyParticipant.copyAssetsParticipant"
            name="Gurella assets copy participant"
            processOnCancel="false">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </with></enablement>
      </copyParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.refactoringContribution"
         name="Gurella refractoring contributions"
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="com.gurella.studio.refractoring.CopyAssetsRefactoringContribution"
            id="com.gurella.studio.refractoring.refactoringContribution.copyAssetsRefactoringContribution">
      </contribution>
   </extension>
   <extension
         id="com.gurella.studio.wizard"
         name="Gurella"
         point="org.eclipse.ui.newWizards">
      <category
            id="com.gurella.studio.wizard.gurellaWizardsCategory"
            name="Gurella">
      </category>
      <wizard
            category="com.gurella.studio.wizard.gurellaWizardsCategory"
            class="com.gurella.studio.wizard.scene.NewSceneWizard"
            hasPages="true"
            icon="icons/logo16.png"
            id="com.gurella.studio.wizard.newSceneWizard"
            name="New Scene">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.gurella.studio.wizard.gurellaWizardsCategory"
            class="com.gurella.studio.wizard.project.NewProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/logo16.png"
            id="com.gurella.studio.wizard.newProjectWizard"
            name="New Gurella Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.gurella.studio.launch.LaunchSceneConfigurationDelegate"
            delegateName="Gurella Scene Delegate"
            id="com.gurella.studio.launch.launchSceneConfigurationType"
            modes="run,debug"
            name="Gurella Scene"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         id="com.gurella.studio.launch.launchShortcut"
         name="Gurella Launch Shortucts"
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.gurella.studio.launch.LaunchSceneShortcut"
            icon="icons/logo16.png"
            id="com.gurella.studio.launch.launchShortcut.launchSceneShortcut"
            label="Launch Scene"
            modes="run,debug">
         <contextualLaunch>
            <contextLabel
                  label="Gurella Scene"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Gurella Scene"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.gurella.studio.editor.sceneEditor">
                  </equals>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.gurella.studio.launch.LaunchSceneTabGroup"
            id="com.gurella.studio.launch.launchSceneTabGroup"
            type="com.gurella.studio.launch.launchSceneConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.gurella.studio.launch.launchSceneConfigurationType"
            icon="icons/logo16.png"
            id="com.gurella.studio.launch.launchSceneConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
