<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Gurella scene editor"
            extensions="gscn"
            icon="icons/sample.gif"
            contributorClass="com.gurella.studio.editor.SceneEditorActionBarContributor"
            class="com.gurella.studio.editor.SceneEditor"
            id="com.gurella.studio.editor.GurellaEditor">
      </editor>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.renameParticipants"
         name="Gurella rename participants"
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.gurella.studio.refractoring.RenameAssetParticipant"
            id="com.gurella.studio.refractoring.RenameAssetParticipant"
            name="Gurella asset rename participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="com.gurella.studio.refractoring.RenameJavaElementParticipant"
            id="com.gurella.studio.refractoring.RenameJavaElementParticipant"
            name="Gurella java element rename participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.moveParticipants"
         name="Gurella move participants"
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.gurella.studio.refractoring.MoveAssetsParticipant"
            id="com.gurella.studio.refractoring.MoveAssetsParticipant"
            name="Gurella assets move participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
            </with></enablement>
      </moveParticipant>
      <moveParticipant
            class="com.gurella.studio.refractoring.MoveJavaElementParticipant"
            id="com.gurella.studio.refractoring.MoveJavaElementParticipant"
            name="Gurella java element move participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </or>
            </with></enablement>
      </moveParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.CopyAssetsParticipant"
         name="Gurella assets copy participant"
         point="org.eclipse.ltk.core.refactoring.copyParticipants">
      <copyParticipant
            class="com.gurella.studio.refractoring.CopyAssetsParticipant"
            id="com.gurella.studio.refractoring.CopyAssetsParticipant"
            name="Gurella assets copy participant"
            processOnCancel="false">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </with></enablement>
      </copyParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.CopyAssetsRefactoringContribution"
         name="Gurella copy assets contribution"
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="com.gurella.studio.refractoring.CopyAssetsRefactoringContribution"
            id="com.gurella.studio.refractoring.CopyAssetsRefactoringContribution">
      </contribution>
   </extension>

</plugin>
