<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.gurella.studio.editor.editors"
         name="Gurella Editors"
         point="org.eclipse.ui.editors">
      <editor
            name="Gurella scene editor"
            extensions="gscn"
            icon="icons/Umbrella-16.png"
            contributorClass="com.gurella.studio.editor.SceneEditorActionBarContributor"
            class="com.gurella.studio.editor.SceneEditor"
            id="com.gurella.studio.editor.sceneEditor">
      </editor>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.renameParticipants"
         name="Gurella rename participants"
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.gurella.studio.refractoring.RenameAssetParticipant"
            id="com.gurella.studio.refractoring.RenameAssetParticipant"
            name="Gurella asset rename participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="com.gurella.studio.refractoring.RenameJavaElementParticipant"
            id="com.gurella.studio.refractoring.RenameJavaElementParticipant"
            name="Gurella java element rename participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.moveParticipants"
         name="Gurella move participants"
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.gurella.studio.refractoring.MoveAssetsParticipant"
            id="com.gurella.studio.refractoring.MoveAssetsParticipant"
            name="Gurella assets move participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
            </with></enablement>
      </moveParticipant>
      <moveParticipant
            class="com.gurella.studio.refractoring.MoveJavaElementParticipant"
            id="com.gurella.studio.refractoring.MoveJavaElementParticipant"
            name="Gurella java element move participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </or>
            </with></enablement>
      </moveParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.copyParticipants"
         name="Gurella copy participants"
         point="org.eclipse.ltk.core.refactoring.copyParticipants">
      <copyParticipant
            class="com.gurella.studio.refractoring.CopyAssetsParticipant"
            id="com.gurella.studio.refractoring.CopyAssetsParticipant"
            name="Gurella assets copy participant"
            processOnCancel="false">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </with></enablement>
      </copyParticipant>
   </extension>
   <extension
         id="com.gurella.studio.refractoring.refactoringContributions"
         name="Gurella refractoring contributions"
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="com.gurella.studio.refractoring.CopyAssetsRefactoringContribution"
            id="com.gurella.studio.refractoring.CopyAssetsRefactoringContribution">
      </contribution>
   </extension>
   <extension
         id="com.gurella.studio.wizard.wizards"
         name="Gurella"
         point="org.eclipse.ui.newWizards">
      <category
            id="com.gurella.studio.wizard.gurellaWizardsCategory"
            name="Gurella">
      </category>
      <wizard
            category="com.gurella.studio.wizard.gurellaWizardsCategory"
            class="com.gurella.studio.wizard.NewSceneWizard"
            icon="icons/Umbrella-16.png"
            id="com.gurella.studio.wizard.newSceneWizard"
            name="New Scene">
      </wizard>
   </extension>
   <extension
         id="com.gurella.studio.launch.launchShortcuts"
         name="Gurella Launch Shortucts"
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.gurella.studio.launch.LaunchSceneShortcut"
            icon="icons/Umbrella-16.png"
            id="com.gurella.studio.launch.launchSceneShortcut"
            label="Launch Scene"
            modes="run,debug">
         <contextualLaunch>
            <contextLabel
                  label="Run Scene"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug Scene"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.gurella.studio.editor.sceneEditor">
                  </equals>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.gurella.studio.launch.LaunchSceneConfigurationDelegate"
            delegateName="Gurella Scene Delegate"
            id="com.gurella.studio.launch.launchSceneConfigurationType"
            modes="run,debug"
            name="Gurella Scene">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.gurella.studio.launch.LaunchSceneTabGroup"
            id="com.gurella.studio.launch.launchSceneTabGroup"
            type="com.gurella.studio.launch.launchSceneConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.gurella.studio.launch.launchSceneConfigurationType"
            icon="icons/Umbrella-16.png"
            id="com.gurella.studio.launch.launchSceneConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
